<service>
	<serviceName>perfil</serviceName>
	<serviceAliases>
		<alias>profile</alias>
		<alias>cuenta</alias>
	</serviceAliases>
	<serviceDescription>Muestra el perfil suyo o de otro usuario de Apretaste, conteniendo su credito, tickets de la Rifa y mas informacion util. Tambien le permite editar su perfil</serviceDescription>
	<creatorEmail>salvi@apretaste.com</creatorEmail>
	<serviceCategory>social</serviceCategory>
	<tpl-version>1</tpl-version>
	<listed>0</listed>
</service>
