#profile-avatar {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;
	margin: auto;
	border: 4px solid white;
	background-size: contain;
}

.top-bar {
	margin-bottom: 0;
	position: relative;
	box-shadow: 0 1px 5px 0 #444;
}

.profile-info h3 {
	margin-bottom: 5px
}

.desc-table td {
	padding: 0 5px;
}

.desc-table tr {
	border: none;
}

.desc-table td:first-child {
	width: 24px;
	padding-left: 0;
}

.bottom-space {
	margin-bottom: 60px;
}

#edit-fields {
	margin-bottom: 12px;
}

#username {
	text-align: center;
	font-size: 1.7rem;
}

.gem {
	width: 50px;
	height: 50px;
}

.gems-list {
	border: none;
}

.gems-list > li {
	margin: 12px 2px 2px 2px !important;
	box-shadow: 0 0 3px 0 lightgrey;
	border-radius: 10px;
}

#pic-btn {
	position: absolute;
	bottom: 5px;
	right: 0px;
}

.color {
	width: 30px;
	height: 30px;
	display: inline-block;
}

.mini-card {
	height: 170px;
	border-radius: 10%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	padding: 8px;
	position: relative;
}

.mini-card div.person-avatar {
	width: 50px;
	height: 50px;
	display: inline-block;
	border-radius: 50%;
	position: relative;
}

.mini-card > div {
	width: 100%;
}

.col.s6:nth-child(odd) > .mini-card {
	margin: 17px 8px 17px 13px;

}

.col.s6:nth-child(even) > .mini-card {
	margin: 17px 13px 17px 8px;
}

@media screen and (max-width: 420px) {
	#username {
		width: 55% !important;
	}
}

@media screen and (min-width: 421px) and (max-width: 600px) {
	#username {
		width: 45% !important;
	}
}

@media screen and (min-width: 601px) and (max-width: 800px) {
	#username {
		width: 40% !important;
	}
}

@media screen and (min-width: 801px) {
	#username {
		width: 30% !important;
	}
}

#edit-fields .input-field:first-child > label {
	width: auto;
	left: calc(50% - 25px);
	top: 5px;
}

p {
	word-break: break-word
}

.deleteButton, .default {
	position: absolute;
	right: 2px;
	top: -8px;
	background: white;
	border-radius: 50%;
	height: 28px;
	width: 28px;
}

.deleteButton > i, .default > i {
	top: 5px;
	font-size: 20px;
	position: relative;
	font-weight: 900;
	left: 4px;
}

.image {
	margin-bottom: 1rem;
	position: relative;
}

.image img {
	max-height: 162px;
	object-fit: cover;
}
