<p>Lo sentimos, el perfil que usted nos solicita no puede ser mostrado debido a que usted ha sido bloqueado por esa persona</p>
<div class="center-align">
<button class="btn waves-effect waves-light red" onclick="apretaste.send({'command':'PERFIL BLOQUEAR','data':'<%=username%>'});">Bloquear
    <i class="material-icons right">block</i>
</button>
</div>