<div class="row">
	<!-- apretin -->
	<div class="col s12 speech-bubble-space">
		<div class="speech-bubble">
			<div class="arrow"></div>
			A continuación las maneras de ganar experiencia y la cantidad y concepto por cada una.
		</div>
		<div class="person-avatar circle" face="apretin" color="verde" size="60"></div>
	</div>

	<!-- experience -->
	<div class="col s12">
		<ul class="collection one-line">
			<% experience.forEach(function(item) { %>
				<li class="collection-item avatar">
					<span class="circle number">+<%= item.value %></span>
					<p><%= item.description %></p>
					<span class="chip tiny"><i class="fas fa-<%= item.conceptIcon %>"></i> <%= item.conceptCaption %></span>
				</li>
			<% }) %>
		</ul>
	</div>
</div>

<div class="bottom-space"></div>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light" href="#!" onclick="apretaste.back()">
		<i class="material-icons">arrow_back</i>
	</a>
</div>