<div class="row">
	<div class="col s12 center">
		<h1>El perfil no existe</h1>
		<i class="material-icons large">sentiment_very_dissatisfied</i>
		<p>Lo sentimos, pero el perfil que usted busca no pudo ser encontrado. Puede que el nombre de usuario halla cambiado o la persona halla salido de la app.</p>
	</div>
</div>