<div class="row">
    <div class="col s12">
        <h1>¿Donde escuchó sobre la app?</h1>
        <p>Gracias por dejarnos saber donde escuchó sobre la app para seguir acercando nuestro servicios a más personas.</p>

        <div class="input-field">
            <select id='origin'>
                <option value="" disabled selected>Escoja su opción</option>
                <% Object.keys(origins).forEach(function(key){ %>
                    <% var selected = (origin == key) ? 'selected="selected"' : ''; %>
                    <option value="<%= key %>" <%= selected %>><%= origins[key] %></option>
                <% }) %>
            </select>
        </div>
    </div>
</div>

<!-- SAVE BUTTON -->
<div class="bottom-space"></div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light" href="#!" onclick="changeOrigin()"><i class="material-icons">save</i></a>
</div>